{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <h1 class="govuk-heading-l">Register</h1>
    {% if session.is_mod %}
      {{ govukButton({
        'text': "Create new register",
        'href': url_for('register.create')
      }) }}
    {% elif not session.username %}
      {{ govukButton({
        'text': "Log In to Edit Registers",
        'href': url_for('login.index'),
        'classes': "govuk-button--secondary"
      }) }}
    {% endif %}
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      {% for register in registers %}
      <li>
        <a class="govuk-link" href="{{ url_for('register.view', register_id=register.id) }}">{{ register.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%- endblock -%}